# Renomme ce fichier en ".env" (juste ".env", pas ".env.example")
TOKEN=MTU1MTcwMjQyNzQ3MDY1OTU4NA.GsJLDq.2VX0tYZ33sc4-mQUwRPZL5ko32etdAjuzWpPzw
CLIENT_ID=1552046485984772126
OWNER_IDS=1439657663532236985
